Repository RI-SE/smirk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, export-requirements, isort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: export-requirements
        name: requirements.txt
        language: system
        entry: poetry export -o requirements.txt
        files: "^pyproject.toml$"
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        args: ["--profile", "black", "--filter-files"]

Update license info in readme
  README.md
Due: none

Update README.md
  docs/README.md
Due: none

Fix caps
  docs/README.md
Due: none

Updated links
  docs/System Requirements Specification.md
Due: none

Fixed Section numbering
  docs/README.md
Due: none

Added href for outlier detection
  docs/ML Component Specification.md
Due: none

Update System Requirements Specification.md
  docs/System Requirements Specification.md
Due: none

Fixed link
  docs/System Requirements Specification.md
Due: none

Fixed links
  docs/System Requirements Specification.md
Due: none

Fix incorrect TC IDs in Table 1
  docs/System Test Specification.md
Due: none

Increase link granularity to SRS sections
  docs/README.md
Due: none

Increase link granularity MLCS
  docs/README.md
Due: none

Add links to AI Sweden's hosting
  docs/README.md
Due: none

Update progress
  docs/README.md
Due: none

Fix broken ALTAI link
  README.md
Due: none

Add links to AI Sweden's data hosting site
  docs/Data Management Specification.md
Due: none

Add link to AI Sweden's data hosting site
  docs/ML Component Specification.md
Due: none

Add link to AI Sweden's data hosting site
  docs/System Test Specification.md
Due: none

Add rough initial project structure
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/__init__.py
  src/smirk/car/brakes.py
  src/smirk/car/camera.py
  src/smirk/car/car.py
  src/smirk/car/radar.py
  src/smirk/pedestrian_detector/pedestrian_detector.py
  src/smirk/safety_cage/safety_cage.py
  src/smirk/smirk.py
Due: black, flake8, export-requirements, isort

Add fake sensors
  src/smirk/car/fake_car/fake_brakes.py
  src/smirk/car/fake_car/fake_camera.py
  src/smirk/car/fake_car/fake_radar.py
  src/smirk/car/fake_car/fake_sensor_exception.py
  src/smirk/car/radar.py
  src/smirk/car/radar_detection.py
Due: black, flake8, isort

Fix all pedestrians not detectable by radar
  src/simulators/prosivic/objects/pedestrian.py
Due: black, flake8, isort

Fix wrong radar collision width
  src/simple_aeb_scene.py
  src/simulators/prosivic/objects/radar.py
Due: black, flake8, isort

Add yolov5 pedestrian detector
  models/.gitignore
  poetry.lock
  pyproject.toml
  requirements-pytorch.txt
  requirements.txt
  src/config/paths.py
  src/generate_data.py
  src/smirk/pedestrian_detector/pedestrian_detector.py
  src/smirk/pedestrian_detector/ssd_hub_detector.py
  src/smirk/pedestrian_detector/yolo_detector.py
  src/smirk/smirk.py
Due: black, flake8, export-requirements, isort

Use meters per second as unit for speed internally
  src/simulators/prosivic/objects/car.py
  src/simulators/prosivic/utils.py
Due: black, flake8, isort

Add util script for all-pairs input generation
  poetry.lock
  pyproject.toml
  requirements.txt
  src/tests/system/generate_all_pairs.py
Due: black, flake8, export-requirements, isort

Synchronize prosivic scene
  prosivic_scripts/simple_aeb.script
Due: none

Add noop detector for easier testing
  src/smirk/pedestrian_detector/noop_detector.py
Due: black, flake8, isort

Add all-pairs system testing
  src/run_random_scenario.py
  src/smirk/smirk.py
  src/tests/system/system_test_runner.py
  src/tests/system/test_all_pairs.py
  src/tests/system/test_random_configuration.py
Due: black, flake8, isort

Simplify SMIRK interface
  example_images/01.jpg
  example_images/02.jpg
  example_images/03.jpg
  src/run_fake_detection.py
  src/smirk/car/brakes.py
  src/smirk/car/camera.py
  src/smirk/car/car.py
  src/smirk/car/fake_car/fake_brakes.py
  src/smirk/car/fake_car/fake_camera.py
  src/smirk/car/fake_car/fake_radar.py
  src/smirk/car/fake_car/fake_sensor_exception.py
  src/smirk/car/radar.py
  src/smirk/car/radar_detection.py
  src/smirk/safety_cage/noop_cage.py
  src/smirk/safety_cage/safety_cage.py
  src/smirk/smirk.py
Due: black, flake8, isort

Improve default pedestrian detector loading
  src/smirk/smirk.py
Due: black, flake8, isort

Fix NoopDetector incorrect return type
  src/smirk/pedestrian_detector/noop_detector.py
Due: black, flake8, isort

Fix simple objects not detectable by radar
  src/simulators/prosivic/objects/simple_object.py
Due: black, flake8, isort

Add VAE based safety_cage
  poetry.lock
  pyproject.toml
  requirements.txt
  src/config/paths.py
  src/smirk/safety_cage/vae_cage.py
  src/smirk/smirk.py
Due: black, flake8, export-requirements, isort

Fix radar crashing when longitudinal speed is zero
  src/simulators/prosivic/objects/radar.py
Due: black, flake8, isort

Add smirk car to scene
  docs/generate_data.md
  examples/data-generation-config.yaml
  pedestrian-generator/.flake8
  pedestrian-generator/.gitignore
  pedestrian-generator/.pre-commit-config.yaml
  pedestrian-generator/README.md
  pedestrian-generator/poetry.lock
  pedestrian-generator/prosivic_scenes/scenario1.script
  pedestrian-generator/pyproject.toml
  pedestrian-generator/requirements.txt
  pedestrian-generator/scenario-config.yaml
  pedestrian-generator/src/cli.py
  pedestrian-generator/src/pedestrian_generator/__init__.py
  pedestrian-generator/src/pedestrian_generator/data_generator.py
  pedestrian-generator/src/pedestrian_generator/direction.py
  pedestrian-generator/src/pedestrian_generator/prosivic/objects/observable_pedestrian.py
  pedestrian-generator/src/pedestrian_generator/utils/timer.py
  pedestrian-generator/util/set-prosivic-env-vars.ps1
  poetry.lock
  prosivic_scripts/simple_aeb.script
  pyproject.toml
  requirements.txt
  src/generate_data.py
  src/simple_aeb_scene.py
  src/simulators/prosivic/objects/camera.py
  src/simulators/prosivic/objects/car.py
  src/simulators/prosivic/objects/distance_observer.py
  src/simulators/prosivic/objects/observable_pedestrian.py
  src/simulators/prosivic/objects/pedestrian.py
  src/simulators/prosivic/objects/position.py
  src/simulators/prosivic/objects/radar.py
  src/simulators/prosivic/prosivic_tcp.py
  src/simulators/prosivic/simulation.py
  src/simulators/prosivic/utils.py
  src/utils/paths.py
Due: black, flake8, export-requirements, isort

Try alternative numpy and pandas stub files
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

Speed up prosivic stepping when stepping multiple steps
  src/simulators/prosivic/prosivic_tcp.py
Due: black, flake8, isort
