Repository RI-SE/smirk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, export-requirements, isort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: export-requirements
        name: requirements.txt
        language: system
        entry: poetry export -o requirements.txt
        files: "^pyproject.toml$"
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        args: ["--profile", "black", "--filter-files"]

Fix object collision detection
  src/simple_aeb_scene.py
Due: black, flake8, isort

Add dynamic creation of pedestrians
  docs/generate_data.md
  examples/data-generation-config.yaml
  prosivic_scripts/simple_aeb.script
  src/generate_data.py
  src/run_random_scenario.py
  src/simple_aeb_scene.py
  src/simulators/prosivic/objects/camera.py
  src/simulators/prosivic/objects/distance_observer.py
  src/simulators/prosivic/objects/pedestrian.py
  src/simulators/prosivic/objects/pedestrian_observer.py
  src/simulators/prosivic/simulation.py
Due: black, flake8, isort

Add system tests with random paramter jitter
  src/tests/system/system_test_runner.py
  src/tests/system/test_object_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
Due: black, flake8, isort

Add non-pedestrian all pairs system test
  src/tests/system/generate_all_pairs.py
  src/tests/system/system_test_runner.py
  src/tests/system/test_object_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
  src/tests/system/test_random_configuration.py
Due: black, flake8, isort

Fix car not braking due to unknown DDS bug
  src/simple_aeb_scene.py
Due: black, flake8, isort

Fix male_worker pedestrian appearance not working
  src/simulators/prosivic/objects/pedestrian.py
Due: black, flake8, isort

Fix consistent argument order for prosivic objects
  src/simple_aeb_scene.py
  src/simulators/prosivic/objects/car.py
Due: black, flake8, isort

Fix cruise control not working after braking
  src/simulators/prosivic/objects/car.py
Due: black, flake8, isort

Add random scenario runner
  poetry.lock
  pyproject.toml
  requirements.txt
  src/run_random_scenario.py
Due: black, flake8, export-requirements, isort

Add smirk data generation configuration
  config/data-generation/box.yaml
  config/data-generation/child.yaml
  config/data-generation/cone.yaml
  config/data-generation/female_business.yaml
  config/data-generation/female_casual.yaml
  config/data-generation/male_business.yaml
  config/data-generation/male_casual.yaml
  config/data-generation/male_construction.yaml
  config/data-generation/pyramid.yaml
  config/data-generation/sphere.yaml
Due: none

Add fake sensor example
  example_images/01.jpg
  example_images/02.jpg
  example_images/03.jpg
  src/run_fake_detection.py
  src/smirk/pedestrian_detector/ssd_hub_detector.py
Due: black, flake8, isort

Run yolo inference using local package
  src/smirk/pedestrian_detector/yolo_detector.py
Due: black, flake8, isort

Add pedestrian detector using pre-trained SSD from tensorflow hub
  poetry.lock
  pyproject.toml
  requirements.txt
  src/smirk/pedestrian_detector/ssd_hub_detector.py
Due: black, flake8, export-requirements, isort

Add object left/right scenarios
  docs/generate_data.md
  examples/data-generation-config.yaml
  src/generate_data.py
  src/run_random_scenario.py
  src/simple_aeb_scene.py
  src/simulators/prosivic/objects/object_observer.py
  src/simulators/prosivic/objects/pedestrian_observer.py
  src/simulators/prosivic/objects/position_interpolator.py
  src/simulators/prosivic/objects/simple_object.py
  src/simulators/prosivic/simulation.py
Due: black, flake8, isort

Add camera/radar sensor fusion on detection angles
  src/shared/radar_detection.py
  src/simulators/prosivic/objects/radar.py
  src/smirk/pedestrian_detector/noop_detector.py
  src/smirk/pedestrian_detector/pedestrian_detector.py
  src/smirk/pedestrian_detector/ssd_hub_detector.py
  src/smirk/smirk.py
  src/tests/system/system_test_runner.py
Due: black, flake8, isort

Try to recover from prosivic crash during data generation
  src/config/paths.py
  src/generate_data.py
  src/simple_aeb_scene.py
Due: black, flake8, isort

Add auto encoder box cage evaluation
  src/smirk/pedestrian_detector/yolo/val.py
  src/smirk/safety_cage/ae_box/ae_box_cage.py
  src/smirk/safety_cage/ae_box/eval_outlier.py
  src/smirk/safety_cage/ae_box/eval_with_detector.py
  src/smirk/smirk.py
Due: black, flake8, isort

Fix bbox to angle estimation
  src/smirk/pedestrian_detector/pedestrian_detector.py
  src/smirk/pedestrian_detector/ssd_hub_detector.py
  src/smirk/pedestrian_detector/yolo_detector.py
  src/smirk/smirk.py
Due: black, flake8, isort

Use FP16 for yolo predictions
  src/smirk/pedestrian_detector/yolo_detector.py
Due: black, flake8, isort

Remove requirements.txt export
  .pre-commit-config.yaml
  requirements.txt
Due: none

Set package license
  pyproject.toml
Due: export-requirements

Add CLI wrapper around SMIRK functionality
  config/system_tests/smirk-scenario-tests.yaml
  poetry.lock
  pyproject.toml
  src/smirk/adas/pedestrian_detector/yolo/val.py
  src/smirk/adas/safety_cage/ae_box/ae_box_cage.py
  src/smirk/adas/safety_cage/ae_box/eval_outlier.py
  src/smirk/adas/safety_cage/ae_box/eval_with_detector.py
  src/smirk/adas/safety_cage/vae_environment_cage.py
  src/smirk/cli/detect.py
  src/smirk/cli/generate.py
  src/smirk/cli/safety.py
  src/smirk/cli/test.py
  src/smirk/data_generation/generate_data.py
  src/smirk/main.py
  src/smirk/simulators/prosivic/objects/camera.py
  src/smirk/simulators/prosivic/objects/car.py
  src/smirk/simulators/prosivic/objects/distance_observer.py
  src/smirk/simulators/prosivic/objects/object_observer.py
  src/smirk/simulators/prosivic/objects/pedestrian_observer.py
  src/smirk/simulators/prosivic/objects/radar.py
  src/smirk/simulators/prosivic/psvdds.py
  src/smirk/simulators/prosivic/scenes/simple_aeb_scene.py
  src/smirk/simulators/prosivic/simulation.py
  src/smirk/tests/system/system_test_runner.py
  src/smirk/tests/system/test_object_all_pairs.py
  src/smirk/tests/system/test_pedestrian_all_pairs.py
  src/smirk/tests/system/utils/generate_all_pairs.py
Due: black, flake8, export-requirements, isort

Gather results for every sample during system test
  src/smirk/smirk.py
  src/tests/system/system_test_runner.py
  src/tests/system/test_object_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
Due: black, flake8, isort

Fix argpare help not working
  src/tests/system/test_object_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
Due: black, flake8, isort

Make it possible to resume data generation
  src/config/paths.py
  src/data_generation/generate_data.py
  temp/.gitignore
Due: black, flake8, isort

Update authors
  pyproject.toml
Due: export-requirements

Fix stale DDS data causing early scenario termination
  src/simple_aeb_scene.py
Due: black, flake8, isort

Fix getting prosivic object properties through GETP
  src/simulators/prosivic/prosivic_tcp.py
  src/simulators/prosivic/simulation.py
Due: black, flake8, isort

Fix line endings
  .editorconfig
  .gitignore
  src/data_generation/parser.py
  src/data_generation/scenario.py
  src/data_generation/utils.py
Due: black, flake8, isort

Add new pedestrian models
  config/data-generation/female_business_casual.yaml
  config/data-generation/male_business_casual.yaml
  src/simulators/prosivic/objects/pedestrian.py
Due: black, flake8, isort

Allow passing threshold for yolo evaluation
  src/smirk/pedestrian_detector/yolo/val.py
Due: black, flake8, isort

Add minimal quickstart
  README.md
Due: none

Fix wrong original size when scaling yolo predictions
  src/smirk/pedestrian_detector/yolo_detector.py
Due: black, flake8, isort

Allow custom prosivic dds config
  config/dds.json
  src/config/paths.py
  src/simulators/prosivic/simulation.py
Due: black, flake8, isort

Add yolo detector model evaluation
  poetry.lock
  pyproject.toml
  src/smirk/pedestrian_detector/yolo/metrics.py
  src/smirk/pedestrian_detector/yolo/val.py
  src/smirk/pedestrian_detector/yolo/yolo_detector.py
  src/smirk/smirk.py
Due: black, flake8, export-requirements, isort

Add system test case names
  src/tests/system/system_test_runner.py
  src/tests/system/test_object_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
Due: black, flake8, isort

Try to recover from prosivic crash
  poetry.lock
  pyproject.toml
  requirements.txt
  src/data_generation/generate_data.py
  src/simple_aeb_scene.py
  src/simulators/prosivic/prosivic_tcp.py
  src/simulators/prosivic/simulation.py
  src/simulators/prosivic/supervisor.py
Due: black, flake8, export-requirements, isort

Update naming of male construction worker pedestrian
  src/simulators/prosivic/objects/pedestrian.py
  src/tests/system/generate_all_pairs.py
  src/tests/system/test_pedestrian_all_pairs.py
Due: black, flake8, isort

Add outlier detector for predicted boxes
  src/config/paths.py
  src/smirk/safety_cage/ae_box_cage.py
  src/smirk/safety_cage/noop_cage.py
  src/smirk/safety_cage/safety_cage.py
  src/smirk/safety_cage/vae_environment_cage.py
  src/smirk/smirk.py
Due: black, flake8, isort

Rename smirk package
  src/adas/pedestrian_detector/noop_detector.py
  src/adas/pedestrian_detector/pedestrian_detector.py
  src/adas/pedestrian_detector/yolo/metrics.py
  src/adas/pedestrian_detector/yolo/val.py
  src/adas/pedestrian_detector/yolo/yolo_detector.py
  src/adas/safety_cage/ae_box/ae_box_cage.py
  src/adas/safety_cage/ae_box/eval_outlier.py
  src/adas/safety_cage/ae_box/eval_with_detector.py
  src/adas/safety_cage/noop_cage.py
  src/adas/safety_cage/safety_cage.py
  src/adas/safety_cage/vae_environment_cage.py
  src/adas/smirk.py
  src/tests/system/system_test_runner.py
Due: black, flake8, isort
